.edit-review-modal {
    height: 350px;
    width: 468px;
}

.edit-review-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-textarea-wrapper {
    display: flex;
    justify-content: center;
}

.review-textarea-wrapper textarea {
    width: 90%;
    height: 150px
}

.star-rating {
    padding-top: 1%;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    /* Right-to-left to display stars from right to left */
}

.star-rating input[type="radio"] {
    display: none;
    /* Hide the radio buttons */
}

.star-rating label {
    font-size: 30px;
    /* Adjust the size of the stars */
    display: inline-block;
    cursor: pointer;
    color: #ddd;
    align-items: center;
    /* Default star color */
}

.star-rating label:hover,
.star-rating input[type="radio"]:checked~label {
    color: #ffc107;
    /* Highlighted star color */
}

.star-text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.star-text {
    margin-left: 2%;
    margin-top: 1.5%;
    font-weight: bold;
}

.review-submit-button-wrapper {
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.review-submit-button-wrapper button {
    width: 90%;
    height: 50px;
    background-color: red;
    color: white;
}