.managespot-title {
    padding-left: 4%;
    padding-bottom: 2%;
}

.managespot-title button {
    height: 30px;
}

.spot-index-all {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

/* Media queries to adjust the number of columns */
@media (min-width: 900px) {
    .spot-index-all {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1400px) {
    .spot-index-all {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1800px) {
    .spot-index-all {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 2200px) {
    .spot-index-all {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 2400px) {
    .spot-index-all {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
