.managespot-title {
    padding-left: 4%;
    padding-bottom: 2%;
}

.managespot-title button {
    height: 30px;
}

.spot-index-all {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

/* Media queries to adjust the number of columns */
@media (min-width: 800px) {
    .spot-index-all {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .spot-index-all {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1600px) {
    .spot-index-all {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 2000px) {
    .spot-index-all {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 2400px) {
    .spot-index-all {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
