.hidden {
    display: none;
}

.nav-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    height: 80px;
    border-bottom: 1px solid black;
}

.logo-img {
    height: 40px;
    display: inline-block;
    width: 30%;
}

.logo-text {
    display: inline-block;
    width: 70%;
    color: pink;
    font-size: x-large;
}

.nav-bar-logo {
    width: 133pt;
    display: flex;
    align-items: center;
    text-decoration: none;

}